body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 940px;
    height: 700px;
    background: url(imagenes/fondo.jpg);
}

#logo{
    width: 90px;
    margin: 30px 40px;
}
#texto-original{
position: absolute;
    left: 100px;
    top: 168px;
    border: none;
    background: none;
    font-size: 32px;
    color: #0A3871;
}

#texto-original:focus{
    outline: none;

        border: none;
    }



#texto-desencriptado{
    text-align: center;
   font-size: 30px;  
    color: white;
    border: none;
    background: none;
    margin-top: 20px;
    
}
#texto-desencriptado{

    outline: none;

}


.caja1{ 
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    left: 100px;
    top: 550px;
    width: 500px;
    
}
.caja1 p{
   
        position: absolute;
        margin-top: -20px;
      }
      

#btn1{ 
    background: url(imagenes/cinta.png);
    background-position: center; /* Ajusta la posición de la imagen al centro */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área del botón */
    font-family: 'Inter';
    font-size: 16px;
    height: 45px;
    width: 150px;
    border: none;
  }
  #btn1:active{
    height: 49px;
    width: 154px;
  }
#btn2 {
    background: url(imagenes/cinta.png);
    background-position: center; /* Ajusta la posición de la imagen al centro */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área del botón */
    font-family: 'Inter';
    font-size: 16px;
    height: 45px;
    width: 150px;
    border: none;
  }
  #btn2:active{
    height: 49px;
    width: 154px;
  }
  
#btn3{
    background: url(imagenes/cinta.png);
    background-position: center; /* Ajusta la posición de la imagen al centro */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área del botón */
    font-family: 'Inter';
    font-size: 16px;
    height: 45px;
    width: 150px;
    border: none;
    margin: 5px;
  }
  #btn3:active{
    height: 49px;
    width: 154px;
  }


.result{
    /* Rectangle 1 */

text-align: center;
position: absolute;
width: 400px;
left: 900px;
border-radius: 32px;
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0px);
background:rgba(0, 0, 0, 0px);
}

#niña{
width: 180px;

}

#detector {
    text-align: center;
    padding: 25px;
    margin: 0 15%;
    font-weight: bold;
    font-size: 24px;
   
}

#detector2 {
    text-align: center;
    padding: 25px;
    margin: 0 15%;
   color: #938d8d
}

#oculto{
    display: none;

}
#oculto label{
    display: block;
    font-weight: bold;
    color: rgb(2, 255, 2);
    background-color: rgba(0, 0, 0, 0.5px);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: none;
    padding: 20px;
    text-align: center;
  }
  